.list-img {
	flex-shrink: 0;
	width: 300px;
	height: 200px;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
}

/*lista de apartamentos*/
.apartmentList {
		width:630px;
		height: 100%;
		overflow: auto;
		flex-shrink: 0;
    background-color: white;
}

@media (min-width:744px) {
.apartmentList {
	width: 734px;
}
}

@media (min-width: 1128px) {
.apartmentList {
	width: 840px;
}
}

.listcolun {
	display: flex;
}

#map-canvas {
	position: relative;
	overflow: hidden;
	width: 100%;
	/* width:400px; */
}
