body {
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.bg-color {
    background-color: rgb(15, 15, 15);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 30px;

}

nav {
    order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li:nth-child(1) {
    display: inline-block;
    padding: 0px 20px 0 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(66, 66, 66)
}

.btn-login {
    padding: 9px 25px;
    background: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.18);
    transition: box-shadow 0.5s ease;
}

.btn-login:hover {
    background: rgb(221, 221, 221);
}

.container {
    position: relative;
    width: 100%;
    padding: 20px;
    font-size: 14px;
}

.conteudo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.container-dois {
    position: relative;
    width: 100%;
    font-size: 14px;
    background-color: rgb(24, 24, 24);
}

.conteudo-dois {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(24, 24, 24);
}

.linha {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.col-50 {
    padding: 10px;
}

.card-text {
    padding: 4px;
    margin-left: 5px;
    font-weight: lighter;
}

.imgNoticia {
    width: 100%;
}

.titulo {
    font-weight: 100;
    font-size: 45px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
    background: -webkit-linear-gradient(35deg,rgb(155, 154, 154), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo-dois {
    font-weight: bolder;
    font-size: 35px;
    text-align: left;
    padding-top: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-weight: 100;
    margin-bottom: 5px;
}

.letrasP {
    color: #fff;
    margin-bottom: 5px;
}

header {
    display: flex;
    position: relative;
    flex-shrink: 0;
    z-index: 10;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.divisao {
    display: flex;
    overflow: hidden;
    height: 100%;
}
